{
  "presets": ["next/babel"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    [
      "@locator/babel-jsx/dist",
      {
        "env": "development"
      }
    ]
  ]
}
